<%- include('./layout/Header')  %>
<%- include('./layout/Navbar')  %>
    <div class="showcase">
        <h1>Welcome to Express
            <span class="green-text">Diary</span>
        </h1>
        <p>Record Your daily Life</p>
        <a href="/diary">Open Express Diary</a>
    </div>
    <%- include('./layout/Footer')  %>